{% extends "layout.html" %}
{% block css %}
    <!-- login CSS -->
  	<link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">

      <form class="form-signin" action="validate_login">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">username</label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="username" required autofocus>
        <label for="inputPassword" class="sr-only">password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->

<!--Please login-->
<!--<div>-->
    <!--<form action="validate_login">-->
        <!--username:<input type="text" name="username"><br>-->
        <!--password:<input type="password" name="password"><br>-->
        <!--<input type="submit" value="submit"><br>-->
    <!--</form>-->
<!--</div>-->
{% endblock %}